body{
		background:#E2EAED;
		font-size:12px;
		font-family:sans-serif, verdana;
		color:#888;
		text-align:center;
		
	}
#Menu {
		background:#fff;
		box-shadow:0px 0px 9px rgba(0,0,0,0.15);
		-moz-border-radius:5px;
		border-radius:5px;
		margin-left:auto;
		margin-right:auto;
		width:500px;
	}
ul	{
		list-style-type:none;
		height: 50px;
		text-align:left;
	}
li	{
		display:inline-block;
		width: 150px;
		margin-top:15px;
	}
ul li a{
		text-decoration:none;
	}
	
#Content {
		background:#fff;
		box-shadow:0px 0px 9px rgba(0,0,0,0.15);
		-moz-border-radius:5px;
		border-radius:5px;
		margin-left:auto;
		margin-right:auto;
		width:500px;
		min-height:300px;
	}
	
.rightText {
	text-align: right;
	}